<div class="jumbotron" text-align="text-center">
  <h1>Contacts</h1>
</div>

<form action="/" method="post">
  <div class="form-group">
    <!-- height -->
    <h2>Enter name</h2>
    <input name="name" class="form-control" type="text" placeholder= "name"><br>
    <h2>Enter address</h2>
    <input name="address" class="form-control" type="text" placeholder= "address"><br>
    <h2>Enter city and state</h2>
    <input name="city" class="form-control" type="text" placeholder= "city"><br>
    <button type="submit" name="enter" class="btn btn-primary">enter</button>
  </div>
  <div id="output">
    <h2>Here are your contacts: </h2><br>

    <% @contacts.each do |contact| %>
    <h4><a href="/info/<%= contact.name %>"><%= contact.name %></a></h4>
    <% end %>

  </div>
</form>
