<h1><%= @contact.name %></h1>
<h1><%= @contact.address %></h1>
<h1><%= @contact.city %></h1>

<!-- <form action="/" method="post">
  <div class="form-group">
    <h2>Add address</h2>
    <input name="name" class="form-control" type="text" placeholder= "name"><br>
    <h2>Enter address</h2>
    <input name="address" class="form-control" type="text" placeholder= "address"><br>
    <h2>Enter city and state</h2>
    <input name="city" class="form-control" type="text" placeholder= "city"><br>
    <button type="submit" class="btn btn-primary">Add</button>
  </div> -->
